[submodule "build-tools"]
	path = build-tools
	url = ../build-tools.git
[submodule "lib/hash-sampler-unit"]
	path = lib/hash-sampler-unit
	url = ../hash-sampler-unit.git
[submodule "lib/poly-arith-unit"]
	path = lib/poly-arith-unit
	url = ../poly-arith-unit.git
[submodule "lib/poly-mem-subsystem"]
	path = lib/poly-mem-subsystem
	url = ../poly-mem-subsystem.git
[submodule "lib/transcoder-unit"]
	path = lib/transcoder-unit
	url = ../transcoder-unit.git
[submodule "lib/core-control-unit"]
	path = lib/core-control-unit
	url = ../core-control-unit.git
[submodule "lib/common-rtl"]
	path = lib/common-rtl
	url = ../common-rtl.git
